USE [master]
GO
/****** Object:  Database [money_management]    Script Date: 05/20/2026 02:49:32 PM ******/
CREATE DATABASE [money_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'money_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\money_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'money_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\money_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [money_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [money_management]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 05/20/2026 02:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[category_id] [int] NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Budgets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 05/20/2026 02:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[type] [nvarchar](50) NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingGoals]    Script Date: 05/20/2026 02:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingGoals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](100) NULL,
	[target_amount] [decimal](18, 2) NULL,
	[current_amount] [decimal](18, 2) NULL,
	[deadline] [datetime] NULL,
 CONSTRAINT [PK_SavingGoals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 05/20/2026 02:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[user_id] [int] NULL,
	[amount] [decimal](18, 2) NULL,
	[note] [nvarchar](200) NULL,
	[date] [datetime] NULL,
	[imagepath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/20/2026 02:49:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](200) NULL,
	[create_at] [datetime] NULL,
	[role] [nvarchar](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Budgets] ON 

INSERT [dbo].[Budgets] ([id], [user_id], [category_id], [month], [year], [amount]) VALUES (3, 8, 8, 6, 2025, CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Budgets] ([id], [user_id], [category_id], [month], [year], [amount]) VALUES (4, 8, 7, 7, 2025, CAST(600000.00 AS Decimal(18, 2)))
INSERT [dbo].[Budgets] ([id], [user_id], [category_id], [month], [year], [amount]) VALUES (5, 9, 10, 5, 2026, CAST(20000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Budgets] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [type], [user_id]) VALUES (6, N'Thưởng', N'income', 8)
INSERT [dbo].[Categories] ([id], [name], [type], [user_id]) VALUES (7, N'Shoping', N'expense', 8)
INSERT [dbo].[Categories] ([id], [name], [type], [user_id]) VALUES (8, N'Ăn uống', N'expense', 8)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[SavingGoals] ON 

INSERT [dbo].[SavingGoals] ([id], [user_id], [title], [target_amount], [current_amount], [deadline]) VALUES (5, 2, N'', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[SavingGoals] ([id], [user_id], [title], [target_amount], [current_amount], [deadline]) VALUES (6, 8, N'Mua xe đạp', CAST(5400000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[SavingGoals] ([id], [user_id], [title], [target_amount], [current_amount], [deadline]) VALUES (7, 9, N'Tiết kiệm mua ip 17', CAST(50000000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[SavingGoals] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([id], [category_id], [user_id], [amount], [note], [date], [imagepath]) VALUES (22, 6, 8, CAST(500000.00 AS Decimal(18, 2)), N'', CAST(N'2025-05-08T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[Transactions] ([id], [category_id], [user_id], [amount], [note], [date], [imagepath]) VALUES (23, 8, 8, CAST(600000.00 AS Decimal(18, 2)), N'', CAST(N'2025-05-08T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[Transactions] ([id], [category_id], [user_id], [amount], [note], [date], [imagepath]) VALUES (24, 7, 8, CAST(1000000.00 AS Decimal(18, 2)), N'', CAST(N'2025-05-08T00:00:00.000' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [first_name], [last_name], [email], [password], [create_at], [role]) VALUES (1, N'1', N'1', N'1@1', N'a4ayc/80/OGda4BO/1o/V0etpOqiLx1JwB5S3beHW0s=', CAST(N'2025-05-07T16:05:29.587' AS DateTime), N'user')
INSERT [dbo].[Users] ([id], [first_name], [last_name], [email], [password], [create_at], [role]) VALUES (2, N'pudo', N'123', N'123@123', N'a4ayc/80/OGda4BO/1o/V0etpOqiLx1JwB5S3beHW0s=', CAST(N'2025-05-07T16:06:10.600' AS DateTime), N'user')
INSERT [dbo].[Users] ([id], [first_name], [last_name], [email], [password], [create_at], [role]) VALUES (3, N'1', N'1', N'22@2', N'1HNeOiZeFu7gP1lxi5tdAwGcB9i2xR+Q2jpmbuwTqzU=', CAST(N'2025-05-07T16:31:45.680' AS DateTime), N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_Categories]
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_Users]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Users]
GO
ALTER TABLE [dbo].[SavingGoals]  WITH CHECK ADD  CONSTRAINT [FK_SavingGoals_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SavingGoals] CHECK CONSTRAINT [FK_SavingGoals_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Categories]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
USE [master]
GO
